argparse==1.4.0
cython-bbox==0.1.5
lap==0.5.12
loguru==0.6.0
numpy==1.23.1
opencv-python==4.5.5.64
scipy==1.8.1
tabulate==0.8.10
termcolor==1.1.0
ujson==5.4.0
wheel==0.37.1
yacs==0.1.8
rich==12.5.1
shapely==1.8.2
git+https://github.com/NVIDIA-AI-IOT/torch2trt@v0.5.0
